/* General body styling */
body {
    font-family: "Georgia", serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 20px;
}

/* Header styling */
header {
    text-align: center;
    margin-bottom: 5px;
}

/* Main title styling */
h1 {
    font-size: 3.0em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

/* Description section */
.description {
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    max-width: 700px;
    line-height: 1.4;
}

/* Image section styling */
.images {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin: 20px 0;
}

/* Styling for the images */
.images img {
    width: 280px;
    border-radius: 10px;
}

/* Map Title section */
.map-title {
    text-align: center;
    background-color: #e0e0c0;
    padding: 15px;
    width: 100%;
    margin-top: 40px;
}

.map-title h2 {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    margin: 0;
}

/* Map container styling */
#map {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.map-description {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    max-width: 700px;
    line-height: 1.6;
}